.container {
  display: grid;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.logo {
  width: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {

}

.actions {
  width: 100%;
  margin: 2em auto;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
}

.button {
  padding: 0.5em 1em;
  border-radius: 1em;
  width: 100%;
  min-height: 70px;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button.icon {
  grid-template-columns: 50px auto;
}

.button:not(.icon) {
  padding-left: 50px;
}

.button.primary {
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.button.primary:hover {
  background: #05171f;
  color: white;
}

.button.primary svg {
  stroke: #000;
  width: 50px;
  height: 50px;
}

.button.primary:hover svg {
  stroke: #fff;
}

.button.icon.instagram {
  background-image: url('./../assets/images/brand-instagram.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 50px;
}

.button.icon.whatsapp {
  background-image: url('./../assets/images/brand-whatsapp.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 50px;
}

.button.icon.pin {
  background-image: url('./../assets/images/map-pin.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 50px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}


@media only screen and (min-width: 800px) {
  .container {
    padding: 2em 0;
  }
}