<div class="container">
  <header class="header">
      
    <div class="logo">
      <img src="./../assets/images/profile.jpg">
    </div>
    
    <h1>Luana Luz</h1>
    <p>
      Ofereço atendimento de excelência Formação: Academia Werner Coiffeur <br />
      _______💗
    </p>
    <h2>Beleza e Saúde</h2>

  </header>

  <div class="actions">

    <a href="https://www.instagram.com/aluzdapodologia/" target="_blank" class="button primary icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0h24v24H0z" stroke="none"/>
          <rect x="4" y="4" width="16" height="16" rx="4"/><circle cx="12" cy="12" r="3"/>
        <path d="M16.5 7.5v.001"/>
      </svg>
      Podologia: @aluzdapodologia
    </a>

    <a href="https://instagram.com/luzandluz/" target="_blank" class="button primary icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0h24v24H0z" stroke="none"/>
          <rect x="4" y="4" width="16" height="16" rx="4"/><circle cx="12" cy="12" r="3"/>
        <path d="M16.5 7.5v.001"/>
      </svg>
      Embelezamento: @luzandluz
    </a>

    <a href="https://wa.me/5521997181978" target="_blank" class="button primary icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0h24v24H0z" stroke="none"/><path d="M3 21l1.65-3.8a9 9 0 113.4 2.9L3 21"/>
        <path d="M9 10a.5.5 0 001 0V9a.5.5 0 00-1 0v1a5 5 0 005 5h1a.5.5 0 000-1h-1a.5.5 0 000 1"/>
      </svg>
      WhatsApp: (21) 99409-2467
    </a>

    <a href="https://maps.app.goo.gl/FACy1iorx6rGkCv19" target="_blank" class="button primary icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0h24v24H0z" stroke="none"/>
          <circle cx="12" cy="11" r="3"/>
        <path d="M17.657 16.657L13.414 20.9a2 2 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
      </svg>
      Endereço: Rua Barão de São Gonçalo,n°49- sl 01,Neves, São Gonçalo, Rio de Janeiro, 24425290
    </a>

    <a (click)="sendMessage()" class="button primary icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M0 0h24v24H0z" stroke="none"/>
        <path d="M4 21V8a3 3 0 013-3h10a3 3 0 013 3v6a3 3 0 01-3 3H8l-4 4M8 9h8M8 13h6"/>
      </svg>
      Reservar horário
    </a>

  </div>

  <!-- <footer class="footer">
  </footer> -->
</div>